body {
  background-color: rgb(238, 148, 238);
}

.icon {
  color: blueviolet;
}

#container {
  width: 500px;
  height: 50px;
}

#container button {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

button {
  border-radius: 8px;
  border-style: none;
  width: 150px;
  height: 30px;
  background-color: rgb(244, 74, 244);
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

.datum {
  margin-left: 10px;
  border-radius: 8px;
  border-style: none;
  width: 200px;
  height: 30px;
  margin-right: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

.datum::placeholder {
  color: blueviolet;
}

.panel {
  width: 100%; /* Ajuste para hacer el contenedor más flexible */
  max-width: 500px;
  height: 600px;
  position: relative;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(240, 240, 151);
  border-radius: 12px;
  border-style: dashed;
  border-color: rgb(140, 140, 140);
  border-width: 15px;
}

#list {
  color: blueviolet;
  font-size: 18px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.credits {
  width: 100%;
}

.EY {
  font-size: 24px;
  display: block;
}

.flaticon a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 750px) {
  #container {
    width: 350px;
  }

  #container button {
    display: inline;
  }

  .panel {
    width: 90%; /* Ajuste para pantallas pequeñas */
    left: 50%;
    transform: translateX(-50%);
    top: 350px;
  }

  .datum {
    display: inline;
    margin-top: 10px;
  }

  .EY {
    font-size: 18px;
  }

  .flaticon a {
    font-size: 18px;
  }

  .title {
    text-align: center;
  }

  .credits {
    position: relative;
    top: 350px;
  }
}

.credits {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 250px;
}

.social-network-icons {
  margin-bottom: 10px;
  margin-top: auto;
}

.svg-footer {
  height: 60px;
  width: 60px;
  transition: fill 0.3s, stroke 0.3s, transform 0.3s ease;
}

.credits .link-networks {
  margin-right: 15px;
}

.copyright {
  font-size: 18px;
  color: #000000;
}

.svg-footer:hover {
  fill: #ffffff;
  stroke: #ffffff;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}
