body {
  background-color: rgb(238, 148, 238);
}

.icon {
  color: blueviolet;
}

#contenedor {
  width: 500px;
  height: 50px;
}

#contenedor button {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.boton {
  border-radius: 8px;
  border-style: none;
  width: 150px;
  height: 30px;
  background-color: rgb(244, 74, 244);
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  margin-left: 10px;
}

.dato {
  margin-left: 10px;
  border-radius: 8px;
  border-style: none;
  width: 200px;
  height: 30px;
  margin-right: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

.dato ::placeholder {
  color: blueviolet;
}

.cuadro {
  width: 500px;
  height: 600px;
  position: relative;
  bottom: 100px;
  left: 500px;
  background-color: rgb(240, 240, 151);
  border-radius: 12px;
  border-style: dashed;
  border-color: rgb(140, 140, 140);
  border-width: 15px;
}

#lista {
  color: blueviolet;
  font-size: 18px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.creditos {
  width: 100%;
}

.EY {
  font-size: 24px;
  display: block;
}

.flaticon a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 750px) {
  #contenedor {
    width: 350px;
  }

  #contenedor button {
    display: inline;
  }

  .cuadro {
    position: relative;
    left: 15px;
    top: 350px;
    width: 350px;
  }

  .dato {
    display: inline;
    margin-top: 10px;
  }

  .EY {
    font-size: 18px;
  }

  .flaticon a {
    font-size: 18px;
  }

  .title {
    text-align: center;
  }
}
